<div class="jumbotron">
	<div class="container">
		<h2>Administrator Management</h2>
	</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-2">
      <h3>Find Users</h3>
      <p> Add, Remove or Edit Administrator accounts.</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Go</a>
    </div>

    <form>
      <div class="form-row">
        <div class="form-group col-sm-4">
            <label for="firstName" class="col-form-label">First Name</label>
            <input type="text" class="form-control" id="firstName" placeholder="First Name">
          <div class="form-group col-sm-4">
            <label for="lastName" class="col-form-label">Last Name</label>
            <input type="text" class="form-control" id="lastName" placeholder="Last Name">
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          

        </div>
      </div>
    </form>
  </div>
</div>
