
<head>
    <title>EMPLOYEE RECOGNITION</title>
</head>
<body>

    <div class="header">
        <h2>Log in to your account</h2>
    </div>
    <form method="post" action=" ">
        <div class="input-group">
            <label>Username</label>
            <input type="text" name="username" value="">
        </div>
        <div class="input-group">
            <label>Password</label>
            <input type="password" name="password_1">
        </div>
        <div class="input-group">
            <button type="submit" class="btn" name="register_btn">Log In</button>
        </div>
        <p>
            <a href="login.php">Admin Log In?</a>  <span style="margin-left:5em">  </span><a href="login.php">Forgot Password?</a>
        </p>

    </form>
    <div class="bottom">
        <!-- <h1 align="center">EMPLOYEE RECOGNITION </h1>-->
    </div>
</body>